<div class="card mx-auto mb-3" style="max-width: 740px;">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
  <div class="row g-0">
    <div class="col-md-4">
      <a href="/games/{{game.slug}}/">
      <img src="http:{{game.cover}}" alt="{{game.name}}">
    </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{game.name}}</h5>
        <p class="card-text"><small class="text-muted">{{game.platform.name}}</small></p>
      </div>
    </div>
  </div>
  </div>
</div>