{% extends "layout.njk" %}

{% block content %}


<div class="container">
<img src="/assets/images/homeImg4.jpeg" class="img-fluid" alt="video games">
<h1 class="display-1">RETRO</h1>
<h1 class="display-2">The best of recent retro gaming</h2>
</div>
<div class="container">
<div class="leftButton"><form action="/games"><button type="submit" class="btn btn-dark">Explore Video Games</button></form></div>
<div class="rightButton"><form action="/platforms"><button type="submit" class="btn btn-dark">Explore platforms</button></form></div>
</div>
{% endblock %}