{% extends "layout.njk" %}

{% block content %}

<a name="top"></a>
 <div class="card text-center">
  <div class="card-header">
  <h1>{{data.onePlatform.name}}</h1>
 <img src="http:{{data.onePlatform.platform_logo_url}}">
  </div>
  <div class="card-body">
{% for game in data.gamesOfPlatform %}
{% include "game.njk" %}
{% endfor %}
</div>
  <div class="card-footer">
    <div class="middleButton"><form action="#top"><button type="submit" class="btn btn-dark">Back to top of page</button></form></div>
  </div>
</div>
{% endblock %}